// .indexpage {

// }

.gallery {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    // grid-column: 6;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-row-end: span 315;
    border: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.grid-images {
    // width: 1765px;
    min-height: 100px;
    column-fill: balance;
    text-align: center;
    margin-bottom: 30px;

        &:nth-child(n) {
                grid-row-end: span 20;
            }
        
            &:nth-child(2n) {
                grid-row-end: span 25;
            }
        
            &:nth-child(5n) {
                grid-row-end: span 33;
            }
        
            &:nth-child(4n) {
                grid-row-end: span 40;
            }
        
            &:nth-child(3n) {
                grid-row-end: span 38;
            }
}



.pin-index-container {
    // width: 260px;
    background-color: transparent;
    border-radius: 18px;
    align-items: center;
}

.pin-index-img {
    z-index: 10;
    display: flex;
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 30px;
        
}

:hover .pin-index-img {
    z-index: -1;
    filter: brightness(70%)
}

//save button

.save-button {
    z-index: 1000;
    color: white;
    background-color: #e60023;
    width: 72px;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600px;
    margin: 5px;
    cursor: pointer;
    &:hover {
            filter: brightness(95%);
        }

        
}

.unsave-button {
    z-index: 1000;
    color: white;
    background-color: black;
    width: 72px;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600px;
    cursor: pointer;

    &:hover {
        filter: brightness(95%);
    }


}

.create-pin-button {
    border: none;
    color: grey;
    background-color: white;
    width: 80px;
    border-radius: 100px;
    font-size: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}



// .dropdown {
//     position: relative;
//     display: inline-block;
// }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1000;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-create div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-create a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-create {
    display: block;
}

.dropdown-create {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1000;
}