// .indexpage {

// }

.gallery {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-column: 6;
    grid-template-columns: repeat(auto-fit, 250px);
    height: 100%;
    // grid-auto-flow: dense;
    // grid-auto-rows: auto;
    // grid-row-end: span 315;
    border: 10px;
    box-sizing: border-box;
    justify-content: center;
    grid-auto-rows: 10px;
}

.grid-images {
    // width: 1765px;
    // min-height: 100px;
    // column-fill: balance;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    width: 230px;
    // height: 100%;

        &:nth-child(n+2) {
                grid-row-end: span 20;
            }
        
            &:nth-child(2n) {
                grid-row-end: span 25;
            }
        
            &:nth-child(3n+1) {
                grid-row-end: span 33;
            }
        
            &:nth-child(3n+3) {
                grid-row-end: span 38;
            }
        
            &:nth-child(4n) {
                grid-row-end: span 40;
            }
}



.pin-index-container {
    // width: 260px;
    background-color: transparent;
    border-radius: 18px;
    align-items: center;
}

.pin-index-img {
    z-index: 10;
    display: flex;
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    // height: 100%;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 30px;
        
}

.pin-index-img:hover  {
    z-index: -1;
    filter: brightness(70%);
}

//save button

.save-button {
    z-index: 1000;
    color: white;
    background-color: #e60023;
    width: 72px;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600px;
    margin: 5px;
    cursor: pointer;
    &:hover {
            filter: brightness(95%);
        }

        
}

.unsave-button {
    z-index: 1000;
    color: white;
    background-color: black;
    width: 72px;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600px;
    cursor: pointer;

    &:hover {
        filter: brightness(95%);
    }


}

.create-pin-button {
    border: none;
    color: grey;
    background-color: white;
    width: 80px;
    border-radius: 100px;
    font-size: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}



// .dropdown {
//     position: relative;
//     display: inline-block;
// }

.dropdown-content {
    // display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1000;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.board-head-title:hover .dropdown-content-delete {
    display: block;
}
.dropdown-content-delete {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-create div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-create a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-create {
    display: block;
}

.dropdown-create {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1000;
    min-height: 40px;
    min-width: 180px;
    border-radius: 16px;
    margin: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    
}

a:hover,
a:visited,
a:link,
a:active {
    color: inherit;
    text-decoration: none;
}

.dropdown-create ul{
    font-family: apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        Helvetica,
        "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3",
        "Hiragino Kaku Gothic Pro",
        "ãƒ¡ã‚¤ãƒªã‚ª",
        Meiryo,
        "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";

        font-size: 12px;
        margin-bottom: 0px;
        text-align: left;
        padding-left: 18px;
}

.create-button-options ul {
    font-size: 16px;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    padding: 3px;
    margin: 1px;
    text-align: left;
}

ul a {
    text-decoration: none;
    color: black;
}

.create-button-options ul:hover {
    background-color: #efefef;
}

.user-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-image-container {
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background-color: #efefef;
    display: flex;
}

.user-profile-info h1 {
        font-size: 36px;
        font-weight: 600;
        color: black;
        margin-bottom: 0px;
}

.user-profile-info h2 {
    font-size: 14px;
    font-weight: 400; 
    margin-left: 2px;
    margin-right: 2px;
    
}

.user-profile-followers {
    display: flex;
    flex-direction: row;
}

.user-profile-followers h2{
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: 500;
}

.type-board-container {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    color: black;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.type-board-text {
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px;
    box-sizing: border-box;
}

.type-board-underline {
    border-radius: 1.5px;
    height: 3px;
    width: 100%;
    color: black;
    background-color: black;
    bottom: -3px;
}

.open-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 55px;
        opacity: 0;
}

.grid-images:hover .open-menu-container {
    opacity: 1;
}

.show-container .open-menu-container {
    opacity: 1;
}

.open-menu {
        position: absolute;
        z-index: 10;
        width: 257px;
        font-size: 16px;
        color: inherit;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.open-menu-container span.material-symbols-outlined {
    border-radius: 50%;
    padding: 5px;
    mix-blend-mode: multiply;
    color: inherit;
    background-color: transparent;
}

.board-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    justify-content: space-between;
}
.board-list-item:hover {
    background-color: #efefef;
    border-radius: 12px;
    
}

.board-list-item .unsave-button {
    margin: 5px;
    z-index: 1000;
}

button.board-list-item  {
    width: 80%;
    height: 80%;
}

.board-list-background {
    background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    // position: relative;
    margin-left: 14px;
    color: black;
    width: 300px;
    max-height: 400px;
    overflow: hidden;
    padding: 26px;
}

.board-list-title {
        padding-top: 15px;
        padding-bottom: 20px;
}

.board-list-title-h2 {
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
    color: grey;
}