.splash-body {
        display: flex;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        font-weight: 600;
        justify-content: center;
      
}

.splash {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 600;
    color: rgb(64, 122, 87);
}

.splash-container-grid {
    display: grid;
        grid-template-columns: repeat(7, 250px);
        max-height: 0px;
    
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.column:nth-child(1) {
    margin-top: 0;
}
.column:nth-child(2) {
    margin-top: 50%;
}
.column:nth-child(3) {
    margin-top: 90%;
}
.column:nth-child(4) {
    margin-top: 150%;
}
.column:nth-child(5) {
    margin-top: 90%;
}
.column:nth-child(6) {
    margin-top: 50%;
}
.column:nth-child(7) {
    margin-top: 0;
}

.splash-image {
    width: 236px;
    height: 350px;
    border-radius: 18px;
    background-color: #ececec;
    margin-bottom: 12px;
}

.splash-image img {
     width: 100%;
    height: 100%;
    object-fit: cover;
       
}

.splash-wrap-grid {
    display: flex;
    padding-top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.white-gradient {
    position: fixed;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #fff, transparent);
}